
%br
= simple_form_for @artigo do |f|
	%blockquote
		= f.collection_select :categoria_id, Categoria.all, :id, :Nome, { promt: "Selecione uma Categoria" }
	
	
	%blockquote
		= f.input :Título
	
	%blockquote
		= f.input :Conteúdo
	
	%blockquote
		= f.submit

	
	/o barra e comentario em haml, obs: se deixar sem o igual vira um print normal