
%br
= simple_form_for @artigo do |f|

	= f.collection_select :categoria_id, Categoria.all, :id, :Nome, { promt: "Selecione uma Categoria" }
	%br
	%br
	= f.input :Título
	%br
	= f.input :Conteúdo
	%br
	= f.submit

	%br
	%br
	/o barra e comentario em haml, obs: se deixar sem o igual vira um print normal