%br
#artigo_conteudo
	%blockquote

		%h1= @artigo.Título
		%p= @artigo.Conteúdo

		#comentarios
			%h2= @artigo.comentarios.count
			= render @artigo.comentarios

			%h3 
				Responder
				= render "comentarios/form"

	%blockquote

		= link_to "Editar", edit_artigo_path(@artigo)

		= link_to "Deletar", artigo_path(@artigo), method: :delete
		
	%br
	%p(align="center")
		= link_to "Voltar", root_path


%br
%br


