!!!
%html
%head
	
	%title Edifício Vila Boa
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	%link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lora:400,700", type: "text/css"}
	%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"}/
	-# % p<link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>

	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags #identacao aqui teve erro, resolvido com backspace ate true da linha anterior + enter

%body(id="params[:controller].parameterize %>_controller")
	%header.main_header.clearfix
		.wrapper
			#logo 
				%p= link_to "Fórum Edifício Vila Boa", root_path
			#buttons
				- if usuario_signed_in?
					= link_to "Novo Tópico", new_artigo_path
				- else
					=link_to('Entrar', new_usuario_session_path)
					=link_to('Registrar', new_usuario_registration_path)
	.wrapper
		%p.notice 
			= notice
		%p.alert 
			= alert
	.wrapper
		- if usuario_signed_in?
			=link_to "Todos Tópicos", root_path

			- Categoria.all.each do |categoria|
				%blokquote
					|
				= link_to categoria.Nome, artigos_path(categoria: categoria.Nome)
		- else
			%br
			%p(align="center")
				Faça Login no site para continuar.

	.wrapper
		=yield


	

